<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>haichuang-bbs</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FindServlet</display-name>
    <servlet-name>FindServlet</servlet-name>
    <servlet-class>com.zuopin.servlet.FindServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindServlet</servlet-name>
    <url-pattern>/FindServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FabiaoServlet</display-name>
    <servlet-name>FabiaoServlet</servlet-name>
    <servlet-class>com.zuopin.servlet.FabiaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FabiaoServlet</servlet-name>
    <url-pattern>/FabiaoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteServlet</display-name>
    <servlet-name>deleteServlet</servlet-name>
    <servlet-class>com.zuopin.servlet.deleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteServlet</servlet-name>
    <url-pattern>/deleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>xiugaiServlet</display-name>
    <servlet-name>xiugaiServlet</servlet-name>
    <servlet-class>com.zuopin.servlet.xiugaiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xiugaiServlet</servlet-name>
    <url-pattern>/xiugaiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>xiugaitzServlet</display-name>
    <servlet-name>xiugaitzServlet</servlet-name>
    <servlet-class>com.zuopin.servlet.xiugaitzServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xiugaitzServlet</servlet-name>
    <url-pattern>/xiugaitzServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XiugaiServlet</display-name>
    <servlet-name>XiugaiServlet</servlet-name>
    <servlet-class>com.zuopin.servlet.XiugaiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XiugaiServlet</servlet-name>
    <url-pattern>/XiugaiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>chakantzServlet</display-name>
    <servlet-name>chakantzServlet</servlet-name>
    <servlet-class>com.zuopin.servlet.chakantzServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chakantzServlet</servlet-name>
    <url-pattern>/chakantzServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServler</display-name>
    <servlet-name>LoginServler</servlet-name>
    <servlet-class>com.kaohe.servles.LoginServler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServler</servlet-name>
    <url-pattern>/LoginServler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServler</display-name>
    <servlet-name>RegisterServler</servlet-name>
    <servlet-class>com.kaohe.servles.RegisterServler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServler</servlet-name>
    <url-pattern>/RegisterServler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>tuichuServlet</display-name>
    <servlet-name>tuichuServlet</servlet-name>
    <servlet-class>com.zuopin.servlet.tuichuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tuichuServlet</servlet-name>
    <url-pattern>/tuichuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletServlet</display-name>
    <servlet-name>DeletServlet</servlet-name>
    <servlet-class>com.zuopin.servlet.DeletServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletServlet</servlet-name>
    <url-pattern>/DeletServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>gerenckServlet</display-name>
    <servlet-name>gerenckServlet</servlet-name>
    <servlet-class>com.zuopin.servlet.gerenckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gerenckServlet</servlet-name>
    <url-pattern>/gerenckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletegrServlet</display-name>
    <servlet-name>deletegrServlet</servlet-name>
    <servlet-class>com.zuopin.servlet.deletegrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletegrServlet</servlet-name>
    <url-pattern>/deletegrServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>xiugaigerServlet</display-name>
    <servlet-name>xiugaigerServlet</servlet-name>
    <servlet-class>com.zuopin.servlet.xiugaigerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xiugaigerServlet</servlet-name>
    <url-pattern>/xiugaigerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>xiugaitzgrServlet</display-name>
    <servlet-name>xiugaitzgrServlet</servlet-name>
    <servlet-class>com.zuopin.servlet.xiugaitzgrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xiugaitzgrServlet</servlet-name>
    <url-pattern>/xiugaitzgrServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TitleServler</display-name>
    <servlet-name>TitleServler</servlet-name>
    <servlet-class>com.zuopin.servlet.TitleServler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TitleServler</servlet-name>
    <url-pattern>/TitleServler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NeirongServler</display-name>
    <servlet-name>NeirongServler</servlet-name>
    <servlet-class>com.zuopin.servlet.NeirongServler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NeirongServler</servlet-name>
    <url-pattern>/NeirongServler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fenyeServlet</display-name>
    <servlet-name>fenyeServlet</servlet-name>
    <servlet-class>com.zuopin.servlet.fenyeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fenyeServlet</servlet-name>
    <url-pattern>/fenyeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>chayhServlet</display-name>
    <servlet-name>chayhServlet</servlet-name>
    <servlet-class>com.kaohe.servles.chayhServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chayhServlet</servlet-name>
    <url-pattern>/chayhServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteyhServlet</display-name>
    <servlet-name>deleteyhServlet</servlet-name>
    <servlet-class>com.kaohe.servles.deleteyhServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteyhServlet</servlet-name>
    <url-pattern>/deleteyhServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>chaPTServlet</display-name>
    <servlet-name>chaPTServlet</servlet-name>
    <servlet-class>com.kaohe.servles.chaPTServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chaPTServlet</servlet-name>
    <url-pattern>/chaPTServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>yonghuServlet</display-name>
    <servlet-name>yonghuServlet</servlet-name>
    <servlet-class>com.kaohe.servles.yonghuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>yonghuServlet</servlet-name>
    <url-pattern>/yonghuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>xiuyhServlet</display-name>
    <servlet-name>xiuyhServlet</servlet-name>
    <servlet-class>com.kaohe.servles.xiuyhServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xiuyhServlet</servlet-name>
    <url-pattern>/xiuyhServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>yhServlet</display-name>
    <servlet-name>yhServlet</servlet-name>
    <servlet-class>com.kaohe.servles.yhServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>yhServlet</servlet-name>
    <url-pattern>/yhServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TuicServlet</display-name>
    <servlet-name>TuicServlet</servlet-name>
    <servlet-class>com.zuopin.servlet.TuicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TuicServlet</servlet-name>
    <url-pattern>/TuicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterAJAXServlet</display-name>
    <servlet-name>RegisterAJAXServlet</servlet-name>
    <servlet-class>com.zuopin.servlet.RegisterAJAXServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterAJAXServlet</servlet-name>
    <url-pattern>/RegisterAJAXServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>com.kaohe.servles.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>afsd</display-name>
    <servlet-name>afsd</servlet-name>
    <servlet-class>com.zuopin.servlet.afsd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>afsd</servlet-name>
    <url-pattern>/afsd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>chaxun</display-name>
    <servlet-name>chaxun</servlet-name>
    <servlet-class>com.zuopin.servlet.chaxun</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chaxun</servlet-name>
    <url-pattern>/chaxun</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>gerenscServlet</display-name>
    <servlet-name>gerenscServlet</servlet-name>
    <servlet-class>com.zuopin.servlet.gerenscServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gerenscServlet</servlet-name>
    <url-pattern>/gerenscServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>gerenxgServlet</display-name>
    <servlet-name>gerenxgServlet</servlet-name>
    <servlet-class>com.zuopin.servlet.gerenxgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gerenxgServlet</servlet-name>
    <url-pattern>/gerenxgServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>loginfilter</display-name>
    <filter-name>loginfilter</filter-name>
    <filter-class>com.haichuang.filter.loginfilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginfilter</filter-name>
    <url-pattern>/fabiao.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>guanliyuan</display-name>
    <filter-name>guanliyuan</filter-name>
    <filter-class>com.haichuang.filter.guanliyuan</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>guanliyuan</filter-name>
    <url-pattern>/guanliyuan.jsp</url-pattern>
  </filter-mapping>
</web-app>